[Unit]
Description={{ app_name }} service
After=network-online.target docker.service
Wants=network-online.target
Requires=docker.service

[Service]
Type={{ app_service_type }}
User={{ app_service_user }}
Group={{ app_service_group }}
WorkingDirectory={{ app_dir }}
ExecStart={{ app_exec_start }}
ExecStop={{ app_exec_stop }}
RemainAfterExit={{ app_service_remain_after_exit | ternary('yes', 'no') }}
Restart={{ app_service_restart }}
{% for key, value in app_env.items() %}
Environment={{ key }}={{ value }}
{% endfor %}

[Install]
WantedBy=multi-user.target
